<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Auth form</title>
</head>
<body>
<h1>Please login and password</h1>
<form id="login-form" action="" method="POST">
    <p>Логин:</p>
    <input name="login" id="login" value=""/><br/>
    <p>Пароль:</p>
    <input name="passwd" id="password" value=""/><br/>
    <br/>
    <button id="btn-submit">Войти</button>
</form>

<script>
    (function () {

        var ajax = function(url, method, data, callback) {
            var con = new XMLHttpRequest();
            con.open("POST", url, true);
            if (method == "POST") {
                con.setRequestHeader("Content-Type",  "application/json");
                con.setRequestHeader("X-Requested-With", "XMLHttpRequest")
            }
            con.onreadystatechange = function() {
                if (con.readyState === 4) {
                    callback(con.responseText);
                }
            };
            con.send((method == "POST") ? data : null)

        };

        var handler = function () {

            var login = document.getElementById("login").value;
            var passwd = document.getElementById("password").value;

            var obj = {
                "jsonrpc": "2.0",
                "method": "site.auth",
                "params": {
                    "login": login,
                    "password": passwd,
                }
            };

            var str = JSON.stringify(obj);

            ajax("/api", "POST", str, function (data) {
                var data = JSON.parse(data);
                console.log(data);
                if(data.success)
                {
                    alert(data.data.message);
                } else {
                    alert(data.data.message);
                }
            });
        };



        var credentals = function () {
            document.getElementById("btn-submit").addEventListener("click", function (e) {
                e.stopPropagation();
                e.preventDefault();

                handler();
            });
        };
        //console.log("qwe");
        window.onload = credentals;
    })();
</script>
</body>
</html>